<html>
<head>
	<title>Shreyans Patel Web Developer</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body>

	<!-- Nav -->
	<nav id="nav">
		<ul class="container">
			<li><a href="#top">Top</a></li>
			<li><a href="#work">Work</a></li>
			<li><a href="#portfolio">Portfolio</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>

	<!-- Home -->
	<div class="wrapper style1 first">
		<article class="container" id="top">
			<div class="row">
				<div class="4u 12u(mobile)">
					<span class="image fit"><img src="images/pic07.jpg" alt="" /></span>
				</div>
				<div class="8u 12u(mobile)">
					<header>
						<h1>Hi. I'm <strong>Shreyans Patel</strong>.</h1>
					</header>
					<p>I am a versatile web developer, with good knowledge of front-end and back-end techniques. I enjoy structure and order and try to strive for quality code in all of my projects. I enjoy working in teams, because I believe you learn more in this manner. This being said, I am not against working alone on smaller projects.</p>
					<a href="#work" class="button big scrolly">Learn about what I do</a>
				</div>
			</div>
		</article>
	</div>

	<!-- Work -->
	<div class="wrapper style2">
		<article id="work">
			<header>
				<h2>Some Technologies that I work With</h2>
				<p>These are some of the tools I have in by belt that help me build functional and fully responsive websites</p>
			</header>
			<div class="container">
				<div class="row">
					<div class="4u 12u(mobile)">
						<section class="box style1">
							<div class="icon featured fa-html5">
							</div>
							<h3>HTML5</h3>
							<p>Able to make fully responsive websites using my skills with HTML5, CSS3 and JavaScript</p>
						</section>
					</div>
					<div class="4u 12u(mobile)">
						<section class="box style1">
							<div class="icon 	featured fa-css3">
							</div>
							<h3>CSS3</h3>
							<p>Able to make fully responsive websites using my skills with HTML5, CSS3 and JavaScript</p>
						</section>
					</div>
					<div class="4u 12u(mobile)">
						<section class="box style1">
							<span class="icon featured fa-camera-retro"></span>
							<h3>JavaScript</h3>
							<p>Able to make fully responsive websites using my skills with HTML5, CSS3 and JavaScript</p>
						</section>
					</div>
				</div>
			</div>
			<footer>
				<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
				<a href="#portfolio" class="button big scrolly">See some of my recent work</a>
			</footer>
		</article>
	</div>

	<!-- Portfolio -->
	<div class="wrapper style3">
		<article id="portfolio">
			<header>
				<h2>Here are some of the Projects I've worked on</h2>
				<p>Proin odio consequat  sapien vestibulum consequat lorem dolore feugiat lorem ipsum dolore.</p>
			</header>
			<div class="container">
				<div class="row">
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="images/click.jpg" alt="" /></a>
							<h3><a href=/clickgame>Click Game</a></h3>
							<p>Simple game that allows player to click images</p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="images/rpsls.jpg" alt="" /></a>
							<h3><a href="/rpsls">RPSLS</a></h3>
							<p>Simple game of RPSLS created using jquery</p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="images/splshd.jpg" alt="" /></a>
							<h3><a href="#">SPLSH'D</a></h3>
							<p>Interactive site for finding nearest bathroom.</p>
						</article>
					</div>
				</div>
				<div class="row">
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
							<h3><a href="#">Website for Local Dentist</a></h3>
							<p>Work in Progress</p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
							<h3><a href="#">App to Find Activities based on Location</a></h3>
							<p>Work in Progress</p>
						</article>
					</div>
					<div class="4u 12u(mobile)">
						<article class="box style2">
							<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
							<h3><a href="#">App to Gamify Running/Jogging</a></h3>
							<p>Work in Progress</p>
						</article>
					</div>
				</div>
			</div>
			<footer>
				<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>
				<a href="#contact" class="button big scrolly">Get in touch with me</a>
			</footer>
		</article>
	</div>

	<!-- Contact -->
	<div class="wrapper style4">
		<article id="contact" class="container 75%">
			<header>
				<h2>Need some work done?</h2>
				<p>Please get in touch if you have any web development needs</p>
			</header>
			<div>
				<div class="row">
					<div class="12u">
						<form method="post" action="#">
							<div>
								<div class="row">
									<div class="6u 12u(mobile)">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="6u 12u(mobile)">
										<input type="text" name="email" id="email" placeholder="Email" />
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<input type="text" name="subject" id="subject" placeholder="Subject" />
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row 200%">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
											<li><input type="reset" value="Clear Form" class="alt" /></li>
										</ul>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="12u">
						<hr />
						<h3>Find me on ...</h3>
						<ul class="social">
							<li><a href="https://twitter.com/samlam89" class="icon fa-twitter" target="blank"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/shreyans.patel.7" class="icon fa-facebook" target="blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.linkedin.com/in/shreyansap" class="icon fa-linkedin" target="blank"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://plus.google.com/u/0/108924129270029866296/about" class="icon fa-google-plus" target="blank"><span class="label">Google+</span></a></li>
							<li><a href="https://github.com/Shreyp" class="icon fa-github" target="blank"><span class="label" >Github</span></a></li>
									<!--
									<li><a href="#" class="icon fa-rss"><span>RSS</span></a></li>
									<li><a href="#" class="icon fa-instagram"><span>Instagram</span></a></li>
									<li><a href="#" class="icon fa-foursquare"><span>Foursquare</span></a></li>
									<li><a href="#" class="icon fa-skype"><span>Skype</span></a></li>
									<li><a href="#" class="icon fa-soundcloud"><span>Soundcloud</span></a></li>
									<li><a href="#" class="icon fa-youtube"><span>YouTube</span></a></li>
									<li><a href="#" class="icon fa-blogger"><span>Blogger</span></a></li>
									<li><a href="#" class="icon fa-flickr"><span>Flickr</span></a></li>
									<li><a href="#" class="icon fa-vimeo"><span>Vimeo</span></a></li>
								-->
							</ul>
							<hr />
						</div>
					</div>
				</div>
				<footer>
					<ul id="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
			</article>
		</div>

		<!-- Scripts -->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-viewport.min.js"></script>
		<script src="js/util.js"></script>
		<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
		<script src="js/main.js"></script>

	</body>
	</html>